.contact__img{
    width: 100px; /* Fill the container */
    height: 100px; /* Fill the container */
    object-fit: cover; /* Ensure the image fills the container without distortion */
    position: absolute; /* Position the image absolutely within the container */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
}
.div_contact__img{
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Ensure the container is square */
    overflow: hidden; /* Hide overflow */
    position: relative; /* Required for absolute positioning of image */
    border-radius: 50%; /* Ensure the container is a circle */
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    

}
.about__container{
    grid-template-columns: 3fr 9fr;
    column-gap: 1.875rem;
    
}

.about__data{
    padding: 1rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: repeat(2,1fr);
    column-gap: 1.875rem;
    align-items: flex-start;
    position: relative;

}

.about__data::before{
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px var(--container-color);
    position: absolute;
    left: -0.93rem;
    top: 20%;
}

.about__description{
    margin-bottom: 1rem;
    text-align: justify;

}

.about__skills{
    row-gap: 1.25rem;
}

.skills__titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills__number{
    line-height: 1.2;
}

.skills__bar, .skills__percentage{
    height: 7px;
    border-radius: 0.25rem;

}

.skills__bar{
    background-color: #f1f1f1;
}

.skills__percentage{
    display: block;
 
}

.developpement{
    width: 85%;
    background-color: rgb(255, 209, 92);
}

.ui__design{
    width: 70%;
    background-color: rgb(255, 76, 96);
}

.excel{
    width: 60%;
    background-color: blue;
}


@media screen and (max-width:1024px){
    .about__container{
       display: block;
        grid-template-columns: 720px;
        justify-content: center;
        row-gap: 1.875rem;
        
    }

    .section{
        margin-right: 10px;
       
        padding: 0rem;
    }
    .bout__description{
        display: block;
    }
    .about__data{
        display: block;
        padding: 0px;
    }
    .div_contact__img{
        margin-bottom: 20px;
    }
    #cv{
        margin-bottom: 10px;
    }






    .about__data::before{
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #fff;
        left: 49%;
        top: -20px;
        width: 20%;
        padding: 0rem;
        display: block;
    }
    .about__img{

        justify-self: center;
        
    }
    
    
}


@media screen and (max-width:768px){
  .about__container{
    grid-template-columns: 350px;
  }
  .about__data::before{
 
    left: 47%;
    
    
}
.about__data{
    padding: 0rem;
    background-color: var(--container-color);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    grid-template-columns: repeat(2,1fr);
    column-gap: 0.875rem;
    align-items: flex-start;
    position: relative;

}

.about__description{
    font-size: small;
}

.section__title{
    text-align: center;
    justify-content: center;
}


}


@media screen and (max-width:350px){
    .about__container{
      grid-template-columns: 1fr;
    }
    .about__data::before{
   
      left: 47%;
      
      
  }
  .about__data{
      padding: 0rem;
      background-color: var(--container-color);
      box-shadow: var(--shadow);
      border-radius: var(--border-radius);
      grid-template-columns: repeat(2,1fr);
      column-gap: 0.875rem;
      align-items: flex-start;
      position: relative;
  
  }
  
  .about__description{
      font-size: small;
  }
  
  .section__title{
      text-align: center;
    
  }
  
  
  }